.links a {
	padding-left: 10px;
	margin-left: 10px;
	border-left: 1px solid #000;
	text-decoration: none;
	color: #999;
}
.links a:first-child {
	padding-left: 0;
	margin-left: 0;
	border-left: none;
}
.links a:hover {
	cursor:pointer;
	/*decoration: none;*/
}
.column-left {
	display: inline; 
	float: left;
}
.column-right {
	display: inline; 
	float: right;
}